---
layout: nil
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>beaumet.me - {{ page.title }}</title>

    <meta name="description" content="I'm a french passionate developer, studying in 3rd year at Epitech Paris, France." />
    <meta charset="UTF-8">

    <link type="text/css" href="/css/main.css" rel="stylesheet">
    <script data-main="/js/main" src="/libs/js/require.js"></script>
  </head>

  <body>
    <div class="header-background">
      <div class="header-container">
        <div class="header">
          <div class="navigation-bar">
            <a class="link" href="/">Aymeric Beaumet</a>
            <a class="link" href="/about">About</a>
            <a class="link" href="/archive">Archive</a>
            <a class="link" href="/contact">Contact</a>
          </div>

          <form method="get" action="/search" id="search-form" style="display:none;">
            <input type="text" placeholder="Search in blog posts..." name="q">
            <button type="submit">Search</button>
          </form>

          <a href="/rss"><img src="/images/rss.png" alt="RSS icon" title="RSS feeds" class="icon"></a>
          <a href="https://github.com/abeaumet"><img src="/images/github.png" alt="Github icon" title="Github" class="icon"></a>
          <a href="http://stackoverflow.com/users/1071486/abeaumet"><img src="/images/stackoverflow.png" alt="Stack Overflow icon" title="Stack Overflow" class="icon"></a>
          <a href="http://fr.linkedin.com/in/abeaumet"><img src="/images/linkedin.png" alt="LinkedIn icon" title="LinkedIn" class="icon"></a>
        </div>
      </div>
    </div>

    {{ content }}
  </body>
</html>
