// Build on sane bases
@import "/libs/css/normalize.css";


/*****************
 * Configuration *
 *****************/

// Positionning
$distance-between-elements : 25px;
$page-width : 960px;
$content-width : 960px - (2 * 2 * $distance-between-elements);
$navigation-bar-height : 50px;

$profile_photo-height : 134px;

// Color palette
$black : #404041;
$grey : #c2c6c7;
$dark-blue : #127ea7;
$blue : #0aa0d9;
$white : #fafeff;


/*********************************
 * Generic mixins / placeholders *
 *********************************/

// Alignment
%vertically-centered { vertical-align: middle; }
%horizontally-centered {
  display: block;
  margin: 0 auto;
}

// Center the content and adjust it to the page width
div%adjusted-width {
  @extend %horizontally-centered;
  width: $content-width;
  padding: 0 ($distance-between-elements * 2) 0 ($distance-between-elements * 2);
}

// Float positionning
div%float-container:after {  // From: http://css-tricks.com/all-about-floats/
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
div%not-floated-content { overflow: hidden; }
div%left-floated-content { float: left; }
div%right-floated-content { float: right; }

.frame {
  background-color: $white;
  border: 1px solid $dark-blue;
  padding: $distance-between-elements;
}


/*****************
 * Page skinning *
 *****************/

body {
  background-image: url("/images/fishbone-pattern.png");
}

//

.header-background {
  background-color: $black;
  border-bottom: ($distance-between-elements / 4) solid $blue;
}

.header-container {
  @extend %adjusted-width;
  @extend %float-container;
  height: $navigation-bar-height;
}

.header {
  line-height: $navigation-bar-height;

  .navigation-bar {
    @extend %left-floated-content;

    .link {
      color: $grey;
      text-decoration: none;
      margin-right: ($distance-between-elements / 2);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  text-align: right;

  .search-bar {
  }

  .icon {
    @extend %vertically-centered;
    margin-left: ($distance-between-elements / 2);
  }
}

//

.about-background {
  background-color: $blue;
}

.about-container {
  @extend %adjusted-width;
}

.about {
  .profile-photo {
    @extend %float-left;
  }
}

//

.main-content-container {
  @extend %float-container;
  @extend %adjusted-width;
}

.main-content {
}

.posts-list {
  @extend %not-floated-content;

  .post {
    @extend .frame;

    .post-detail-image {
      @extend %vertically-centered;
      margin-left: ($distance-between-elements / 2);
      margin-right: ($distance-between-elements / 8);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.posts-pagination {
  @extend .frame;
  padding: ($distance-between-elements / 2);
}

.post-full {
  @extend %horizontally-centered;
}
